	@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
	
  nav {
   background-color: #4d4dff;
   padding: 5px;
   position: sticky;
   top: 0;
  }

  header {
   display: inline;
  }

  main {
    padding: 20px;
    overflow: auto;
  }

  #content {
   float: right;
   width: 75%;
  }

  aside {
   float: left;
   width: 25%;
   padding-right: 20px;
  }

  * {
   box-sizing: border-box;
  }

	.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #ff7700;
   text-align: center;
   color: white;
    }

  nav {
    background-color: #ff8f2e;
    padding: 5px;
  }
    
  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }

  nav li {
    display: inline;
   	list-style-type: none;
		margin-right: 20px;	
  }

	.profile header {
		text-align: center;
	}

	.profile img {
    width: 200px;
  }

	.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   	border-radius: 5px;
   	padding: 20px;
   	margin-top: 20px;
  }
  
	footer {
		padding: 20px;
		color: white;
		background-color: #ff7700;
		text-align: center;
		font-weight: bold;
	}

	nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }

  nav a:hover {
    font-weight: bold;
  }

	body {
	  font-family: 'Quicksand',Arial;
	  margin: 0;
	  padding: 0;
	}

  h2, h3 {
    color: #ff7700;
  }  
  
  .fontputih {
    font: 1em sans-serif;
    color: white; 
  }

  p {
    font: 1em sans-serif;
    color: black; 
  }

  article li {
    font: 1em sans-serif;
    color: black;    
  }

  th,td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {background-color: #f5f5f5;}

  .button {
  display: inline-block;
  border-radius: 2px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

  @media (max-width: 1000px) {
   #content,
   aside {width: 100%; padding: 0;}
  }